<!--[if lt IE 9]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]--> 

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
      <style type="text/css">
          .bs-1{
              margin-left: 16px;
              margin-top: 16px;
              margin-right: 0px;
              margin-bottom: 5px;

          }
          .bs-2{
              margin-left: 0px;
              margin-top: 0px;
              margin-right: 0px;
              margin-bottom: 0px;

          }
          .bs-3{
              margin-left: 16px;
              margin-top: 16px;
              margin-right: 5px;
              margin-bottom: 5px;

          }
          html { overflow-y: scroll; }
      </style>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="static/css/dataTables.bootstrap.min.css">
    <script src="static/js/jquery-2.2.4.min.js"></script>
    <script src="static/js/bootstrap.min.js" ></script>
    <!-- DataTables -->
    <script src="static/js/jquery.dataTables.min.js"></script>
    <script src="static/js/dataTables.bootstrap.min.js"></script>
    <!-- paho.mqtt App -->
    <script src="static/js/paho-mqtt-min.js"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>

<body>
<div>
<!--左侧导航-->
    <div class="col-md-2" style="margin-left: 0px;margin-top: 16px;margin-right: 0px;margin-bottom: 0px;">
      <div class="panel panel-default">
          <div class="panel-heading" style="height: 50px">OPCDA数据桥工具</div>

              <div class="list-group">
                  <button type="button" class="list-group-item active nav_service_config" data-id="service_config">参数配置</button>
                  <button type="button" class="list-group-item nav_data_view"  data-id="data_view">数据浏览</button>
                  <button type="button" class="list-group-item nav_log_view"  data-id="log_view">日志查看</button>
              </div>

          </div>
      </div>
<!--左侧导航-->

    <!--右侧视图-->
    <div class="col-md-10" style="margin-left: 0px;margin-top: 16px;margin-right: 0px;margin-bottom: 0px;">

        <!--服务状态栏-->
      <div class="col-md-12" style="margin: 0px;padding: 0px">

        <nav class="navbar navbar-default">
            <div class="container-fluid" >
              <div class="col-md-3" style="margin: 0px;padding: 0px">
                  <h4>OPCTunnelStatus：<span class="label label-default OPCServerStatus">...</span></h4>
              </div>
              <div class="col-md-3" style="margin: 0px;padding: 0px">
                  <h4>Name：<span class="label label-default OPCServerName">...</span></h4>

              </div>
              <div class="col-md-3" style="margin: 0px;padding: 0px">
                  <h4>Host：<span class="label label-default OPCServerHost">...</span></h4>
              </div>
              <div class="col-md-3" style="margin: 0px;padding: 0px">
                  <h4>MQTTStatus：<span class="label label-default MQTTStatus">...</span></h4>

              </div>
            </div><!-- /.container-fluid -->
        </nav>

      </div>
        <!--服务状态栏-->

      <div style="margin: 0px;padding: 0px">
          <!--服务配置start-->
          <div class="col-md-12 service_config" style="margin: 0px;padding: 0px">
              <div class="panel panel-default">
                  <div class="panel-heading">OPC配置</div>
                  <div class="panel-body">
                      <!--左侧-->
                      <div class="col-md-6" style="margin: 0px;padding: 0px">
                          <div class="col-sm-12 navbar-header"><a class="navbar-brand navbar-right">运行参数</a></div>

                          <div class="form-horizontal">
                              <div class="form-group">
                                  <label for="ClientID" class="col-sm-4 control-label">ClientID:</label>
                                  <div class="col-sm-8">
                                      <input type="text" class="form-control" id="ClientID"
                                             placeholder="" disabled>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label class="col-sm-4 control-label">OPCHost:</label>
                                  <div class="col-sm-8">
                                        <input type="text" class="form-control" id="OPCHost" placeholder="" disabled>
                                  </div>
                              </div>


                              <div class="form-group">
                                  <label class="col-sm-4 control-label">OPCServer:</label>
                                  <div class="col-sm-8">
                                      <div class="input-group">
                                        <input type="text" class="form-control" id="OPCServer" placeholder="" disabled>
                                          <span class="input-group-addon btn btn-default reset"><i class="glyphicon glyphicon-refresh"></i> 重置</span>
                                      </div>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label class="col-sm-4 control-label">OPCItems:</label>
                                  <div class="col-sm-8">
                                      <textarea  rows="10" class="form-control" id="OPCItems" placeholder="" disabled></textarea>
                                  </div>
                              </div>


                          </div>
                      </div>
                      <!--左侧-->

                      <!--右侧-->
                      <div class="col-md-6" style="margin: 0px;padding: 0px">
                          <div class="col-sm-12 navbar-header"><a class="navbar-brand navbar-right">配置功能</a></div>
                          <div class="form-horizontal">

                              <div class="form-group">
                                  <label for="ClientID" class="col-sm-4 control-label">newClientID:</label>
                                  <div class="col-sm-8">
                                      <input type="text" class="form-control" id="newClientID"
                                             placeholder="">
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label for="OPCServerHost" class="col-sm-4 control-label">OPCServerHost:</label>
                                  <div class="col-sm-8">
                                      <div class="input-group">
                                          <input type="text" class="form-control" id="OPCServerHost"
                                                 placeholder="请输入OPCServerHost">
                                          <span class="input-group-addon btn btn-default opc-query"><i class="glyphicon glyphicon-search"></i> 查询</span>
                                      </div>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <label class="col-sm-4 control-label">OPCServer(All):</label>
                                  <div class="col-sm-8">
                                      <div class="input-group">
                                          <select class="form-control opcserverslist">
                                              <option>点击上方查询按钮</option>
                                          </select>
                                          <span class="input-group-addon btn btn-default select-to-left"><i class="glyphicon glyphicon-arrow-left"></i> 选择</span>
                                      </div>

                                  </div>
                              </div>

                              <div class="form-group">

                                  <label class="col-sm-4 control-label">OPCItems(All):</label>
                                  <div class="col-sm-8">
                                      <textarea  rows="10" class="form-control" id="NewOPCItems" placeholder="输入OPCItems"></textarea>
                                  </div>

                              </div>

                              <div class="form-group">
                                  <div class="col-sm-offset-4 col-sm-8">
                                      <button type="button" class="btn btn-default postconfig">提交</button>
                                      <button type="button" class="btn btn-default postconfigForced">强制提交</button>
                                      <button type="button" class="btn btn-default cleanTunnel">初始化</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--右侧-->

                  </div>
                  <div class="panel-heading">操作日志：<span class="api-feed"></span></div>
              </div>

          </div>
          <!--服务配置end-->

          <!--数据浏览start-->

          <div class="col-md-12 data_view hide" style="margin: 0px;padding: 0px">

              <div class="panel panel-default">
                  <div class="panel-heading">数据浏览</div>
                  <div class="panel-body" style="padding: 5px; min-height: 400px">
                      <table id="data_table" class="table table-bordered row-border" cellspacing="0" width="100%">
                          <thead>
                          <tr>
                              <th>标签</th>
                              <th>数值</th>
                              <th>质量</th>
                              <th>时间</th>
                          </tr>
                          </thead>
                          <tbody>
                          </tbody>
                      </table>
                  </div>
              </div>

          </div>


          <!--数据浏览end-->

          <!--日志浏览start-->
          <div class="col-md-12 log_view hide" style="padding: 0px">


              <div class="panel panel-default">
                  <div class="panel-heading">日志浏览<span class="pull-right log-clean" style="cursor:pointer">清除</span></div>
                  <div class="panel-body" style="margin: 0px; padding: 5px; min-height: 400px">
                      <table id="log_table" class="table table-bordered row-border" cellspacing="0" width="100%">
                          <thead>
                          <tr>
                              <th>时间</th>
                              <th>类型</th>
                              <th>内容</th>
                          </tr>
                          </thead>
                          <tbody>
                          </tbody>
                      </table>
                  </div>
              </div>

          </div>


          <!--日志浏览end-->
      </div>


</div>
    <!--右侧视图-->

</div>

<!--<script type="text/javascript" src="static/userjs/opcview.js"></script>-->
<!--<script type="text/javascript" src="static/userjs/mqtt-utility.js"></script>-->
<script type="text/javascript">
    function disable(){
        return false;
    }
    jsversion = Date.parse(new Date());
    document.write("<script type='text/javascript' src='static/userjs/opcview.js?v="+jsversion+"'></s"+"cript>");
    document.write("<script type='text/javascript' src='static/userjs/mqtt-utility.js?v="+jsversion+"'></s"+"cript>");
</script>
<script type="text/javascript">
    $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
    $("body").on("click", ".list-group-item", function () {
        $(this).addClass("active");
        $(this).siblings().removeClass("active");
        var divid = $(this).data("id");
        // console.log($("div." + divid));
        $("div." + divid).removeClass("hide");
        $("div." + divid).siblings().addClass("hide");
        // console.log($("div." + divid).siblings());
        $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
    });
</script>
</body>
</html>